{% extends 'index.html' %}
{% load static %}



{% block Header %}


    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Free Dental Medical Hospital Website Template | Smarteyeapps.com</title>

        <link rel="shortcut icon" href={% static 'images/fav.jpg' %}>
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'css/fontawsom-all.min.css' %}>
        <link rel="stylesheet" href={% static 'plugins/slider/css/owl.carousel.min.css' %}>
        <link rel="stylesheet" href={% static 'plugins/slider/css/owl.theme.default.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %} />
    </head>

        <body>
        <!-- ################# Header Starts Here#######################-->
        <header>
            <div class="header-top" >    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 left-item">
                            <ul>
                                <li><i class="fas fa-envelope-square"></i> admin@Hospitalmanagement.com</li>
                                <li><i class="fas fa-phone-square"></i> +123 987 887 765</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 d-none d-lg-block right-item">
                            <ul>
                                <li><a><i class="fab fa-github"></i></a></li>
                                <li><a><i class="fab fa-google-plus-g"></i></a></li>
                                <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a><i class="fab fa-twitter"></i></a></li>
                                <li> <a><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div id="nav-head" class="header-nav">  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                            <img src={% static 'images/logo.png' %} alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#men u" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                        </div>
                        <div id="menu" class="col-lg-8   col-md-9 d-none d-md-block nav-item" style="padding: 0px; margin:0px">
                            <ul>
                                <li style="padding-left:10px"><a href="{{curl}}">Home</a></li>
                                <li style="padding-left:10px"><a href="{{curl}}appointment/">Appointment</a></li>
                                <li style="padding-left:10px"><a href="{{curl}}addmissionform/">Addmission</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-1 d-none d-lg-block appoint" style="padding-left:0px;">    
                            <button class="btn btn-info" href={% static '' %}>Reception Portal</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock Header %}

{% block Slider %}

<div class="slider-detail">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        12122    </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src={% static 'images/slider/slider_1.jpg' %} alt="First slide">

        </div>


    </div>

{% endblock Slider %}

{% block WithMedical %}
{% endblock WithMedical %}
{% block ClinicNumber %}
{% endblock ClinicNumber %}
{% block Blog %}
{% endblock Blog %}
{% block OurTeam  %}
{% endblock OurTeam %}
{% block Footer %}
{% endblock Footer %}